<div id="wrapper">
  {{> adminSidebar}}
  <div id="page-content-wrapper">



    <div class="container-fluid">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">/</th>
            <th scope="col">Наименовение</th>
            <th scope="col">Категория</th>
            <th scope="col">Статус</th>
            <th scope="col">Цена</th>
          </tr>
        </thead>
        <tbody>
          {{#each products}}
          <tr>
            <th scope="row">{{@index}}</th>
            <td><img class="image100px" src="{{#each this.images}}{{#if @first}}{{.}}{{/if}}{{/each}}" alt=""></td>
            <td>{{this.title}}</td>
            <td>{{this.category}}</td>
            <td>{{this.status}}</td>
            <td>{{this.price}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>