<div id="wrapper">
  {{> adminSidebar}}
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1>Наименование: {{product.title}}</h1>
      <h3>Описание</h3>
      <p>{{product.description}}</p>
      <h3>Характеристики</h3>
      <p>{{product.features}}</p>
      <h3>Категория</h3>
      <p>{{product.category}}</p>
      <h3>Статус</h3>
      <p>{{product.status}}</p>
      <h3>Цена</h3>
      <p>{{product.price}}</p>
      <h3>Изображения товара</h3>
      <div class="row">{{#each product.images}} <img class="image100px" src="{{.}}" alt="">{{/each}}</div>
    </div>
  </div>
</div>